/* Mobile first design */
/* global HTML tag styles */
a,
a:hover,
a:focus,
a:visited {
    color: #99647a;
    text-decoration: solid;
}

html {
    height: 100%;
}

body {
    background-color: #fefefe;
    color: #626fc1;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .2);
}

/* CLASS STYLES */
.roundedHeadshot {
    border-radius: 60%;
}

/* head shot div class */
.faceshotDiv {
    text-align: center;
}

.bodyText {
    text-align: center;
    margin: auto;
}

/* used for centering the div in the middle of the page */
.parentContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.row {
    text-align: center;
}

.bodyStyle {
    word-break: break-word;
}

.iconClass {
    color: #337ab7;
}

/* ID STYLES */

/* headshot img tag */
#faceshot-image {
    width: 175px;
    height: 175px;
}

/* TABLET LAYOUT */
@media (min-width: 760px) {
    .container {
        text-align: center;
        margin: auto;
        width: 65%;
    }
}

/* LAPTOP LAYOUT */
@media (min-width: 1020px) {
    #faceshot-image {
        width: 200px;
        height: 200px;
    }

    .container {
        text-align: center;
        margin: auto;
        width: 50%;
    }
}

/* Special tablet size */
@media (min-width: 1020px) and (min-height: 1360px) {
    .container {
        text-align: center;
        margin: auto;
        width: 100% !important; /* so that we can override width from the Laptop layout*/
    }
}