/* class styles*/
#linkedin-icon, #email-icon, #github-icon {
    width: 50px;
}

#github-icon {
    height: 70%;
}

#faceshot-image {
    border-radius: 40%;

    /* width and height */
    width: 200px;
    height: 200px;
}

.bodyText {
    padding: 2%;
    text-align: center;
}

/* global styles */
img {
    max-width: 100%;
}

a, a:hover, a:focus, a:visited {
    color: #626fc1;
    text-decoration: solid;
}

html {
    height: 100%;
}

body {
    background-color: #fefefe;
    color: #626fc1;
    font-family: system-ui, sans-serif;
    line-height: 1.5; 
    font-weight: 400;
    height: 100%;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .2);
}

.row {
    text-align: center;
    bottom: 0;
}

.faceshot {
    text-align: center;
}

.container {
    display: flex;
    width: 25%;
}

/* media queries */
@media (max-width: 575.98px) {
    #github-icon {
        height: 100%;
    }

    .bodyText {
        font-size: 14px;
    }

    .container-fluid {
        padding-top: 15%;
    }
}