/* class styles*/
.name {
    font-size: 42px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 3%;
    margin-bottom: 0;
}

.hometown {
    margin-top: 0;
    margin-bottom: 5%;
    line-height: 1.5;
    font-weight: 400;
}

.resume {
    margin-top: 4%;
    display: block;
}

#linkedin-icon, #email-icon, #github-icon {
    width: 50px;
}

#github-icon {
    margin-bottom: 20%;
}

.github {
    display: inline-block;
    width: 50px;
}

.linkedin {
    display: inline-block;
    width: 50px;
}

.email {
    display: inline-block;
    width: 50px;
}

#content-wrap {
    line-height: 1.5;
    font-weight: 400;
    width: 500px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#faceshot-image {
    width: 200px;
}

#faceshot {
    width: 200px;
    margin-bottom: 0;
    margin: 0 auto;
    padding: 0;
}

/* global styles */
a {
    text-decoration: solid;
}

a:visited {
    color: #626fc1;
}

body {
    background-color: #fefefd;
    color: #626fc1;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

footer {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0%;
    display: block;
}

header {
    width: 500px;
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
}